body {
    font-size: 83.7%;
    background-color: #e9e9ee;
}
.my-header {
    display: flex;
    flex-direction: row;
}
.my-header-left, .my-header-right {
    margin: auto;
}
.my-header-right img {
    width: 120px;
}
.article-1 p {
    font-size: 18px;
}
.article-2 ul li {
    font-size: 18px;
}
.article-3 ul li {
    font-size: 18px;
}
.article-4 ul li {
    font-size: 18px;
}
.article-5 ul li {
    font-size: 20px;    
}
.article-5 ul li {
    font-size: 18px;    
}