body {
    background-color: white;
}
.my-header {
    display: flex;
    flex-direction: row;
}

.my-header-left, .my-header-right {
    margin: auto;
}
.my-header-right img {
    width: 150px;
}

.article-1{
    background-color:#eee9e9;
    color:black;
}


.nav-tabs {
    margin-bottom: 10;
}



.article-2{

color:black;
}

.nav-tabs {
margin-bottom: 0;
}


.article-3{

color:black;
}


.nav-tabs {
margin-bottom: 10;
}


.article-4{

color:black;
}
.nav-tabs {
margin-bottom: 10;
}


.article-5{

color:black;
font-size: 20px
}
.nav-tabs {
margin-bottom: 10;
}


.article-6{
background-color:#eee9e9;
color:black;
font-size: 20px
}
.nav-tabs {
margin-bottom: 10;
}
